:root{
    /* colors */
    --violet : hsl(257, 40%, 49%);
    --magenta : hsl(300, 69%, 71%);

    /* font family */
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;

}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--poppins);
    font-family: 14px;
}

body{
    min-height: 100vh;
    display: grid;
    padding: 2rem 2.3rem;
    place-items: center;
    grid-template-areas: 
                    "h . "
                    "m m "
                    "f f ";
    background: url(./images/bg-mobile.svg) no-repeat;
    background-size: contain;
    background-color: var(--violet);
}

header{
    grid-area: h;
}

header img{
    width: 8rem;
    margin-bottom: 3.5rem;
}

main{
    grid-area: m;
    text-align: center;
}

main img{
    width: 100%;
    margin-bottom: 3rem;
    transition: all 0.8s ease;
    animation: introLoad 1.2s forwards;
}

footer{
    grid-area: f;
    display: flex;
    gap: 1rem;
}

/* typography */

h1, p{
    color: #fff;
}

h1{
    font-weight: 600;
    margin-bottom: 1rem;
}

p{  
    font-family: var(--open-sans);
    font-size: 0.9799rem;
    line-height: 1.5;
    margin-bottom: 1.4rem;
}

button{
    font-family: inherit;
    padding: 0.6rem 4.3rem;
    border-radius: 2rem;
    color: var(--violet);
    border: 1px solid #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 4rem;
    transition: background-color 0.2s ease;
}

i{
    font-size: 1rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
}

i:nth-child(1){
    padding: 0.5rem 0.8rem;
}

/* hover section */
button:hover{
    border-color: var(--magenta);
    background-color: var(--magenta);
    color: #fff;
}

i:hover{
    border-color: var(--magenta);
    color: var(--magenta);
}

/* breakpoints section */
@media only screen and (max-width: 799px){
    @keyframes introLoad {
        0%{
            transform: translateY(-10rem);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 800px){
    header img{
        width: 11rem;
    }

    body{
        background: url(./images/bg-desktop.svg) no-repeat;
        background-size: cover;
        background-color: var(--violet);
        grid-template-areas: 
            "h . ."
            "m m m"
            ". . f";
    }

    main{
        width: 90vw;
        display: grid;
        grid-template-columns: minmax(300px, auto) minmax(auto , 456.567px);
        column-gap: 2.5rem;
    }

    section{
        text-align: left;
        align-self: center;
    }

    h1{
        font-size: 2.5rem;
        min-width: 353.5px;
    }

    section p{
        font-size: 1.1rem;
        line-height: 1.9;
        margin-bottom: 2.5rem;
    }

    button{
        font-size: 1.1rem;
    }

    @keyframes introLoad {
        0%{
            transform: translateX(-10rem);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 1200px){
    html{
        font-size: 17px;
    }

    main{
        grid-template-columns: repeat(2, 1fr);
    }

    section{

        padding-top: 2rem;
        align-self: flex-start;
    }

    p{
        font-size: 1rem;
    }

    i{
        font-size: 1.4rem;
    }
}